<head><script defer="defer" src="js/bundle.js"></script><link href="css/bundle.css" rel="stylesheet"></head>Html Webpack Plugin:<pre>
  Error: Child compilation failed:
  Module not found: Error: Can't resolve '/home/programacion/Escritorio/Jav  ascript-fullstack-simple/Fronted/index.html' in '/home/programacion/Escri  torio/Javascript-fullstack-simple'
  ModuleNotFoundError: Module not found: Error: Can't resolve '/home/progra  macion/Escritorio/Javascript-fullstack-simple/Fronted/index.html' in '/ho  me/programacion/Escritorio/Javascript-fullstack-simple'
      at /home/programacion/Escritorio/Javascript-fullstack-simple/node_mod  ules/webpack/lib/Compilation.js:2022:28
      at /home/programacion/Escritorio/Javascript-fullstack-simple/node_mod  ules/webpack/lib/NormalModuleFactory.js:817:13
      at eval (eval at create (/home/programacion/Escritorio/Javascript-ful  lstack-simple/node_modules/tapable/lib/HookCodeFactory.js:33:10), <anonym ous>:10:1)
      at /home/programacion/Escritorio/Javascript-fullstack-simple/node_mod  ules/webpack/lib/NormalModuleFactory.js:275:22
      at eval (eval at create (/home/programacion/Escritorio/Javascript-ful  lstack-simple/node_modules/tapable/lib/HookCodeFactory.js:33:10), <anonym ous>:9:1)
      at /home/programacion/Escritorio/Javascript-fullstack-simple/node_mod  ules/webpack/lib/NormalModuleFactory.js:448:22
      at /home/programacion/Escritorio/Javascript-fullstack-simple/node_mod  ules/webpack/lib/NormalModuleFactory.js:118:11
      at /home/programacion/Escritorio/Javascript-fullstack-simple/node_mod  ules/webpack/lib/NormalModuleFactory.js:689:25
      at /home/programacion/Escritorio/Javascript-fullstack-simple/node_mod  ules/webpack/lib/NormalModuleFactory.js:893:8
      at /home/programacion/Escritorio/Javascript-fullstack-simple/node_mod  ules/webpack/lib/NormalModuleFactory.js:1013:5
  
  - Compilation.js:2022 
    [Javascript-fullstack-simple]/[webpack]/lib/Compilation.js:2022:28
  
  - NormalModuleFactory.js:817 
    [Javascript-fullstack-simple]/[webpack]/lib/NormalModuleFactory.js:817:    13
  
  
  - NormalModuleFactory.js:275 
    [Javascript-fullstack-simple]/[webpack]/lib/NormalModuleFactory.js:275:    22
  
  
  - NormalModuleFactory.js:448 
    [Javascript-fullstack-simple]/[webpack]/lib/NormalModuleFactory.js:448:    22
  
  - NormalModuleFactory.js:118 
    [Javascript-fullstack-simple]/[webpack]/lib/NormalModuleFactory.js:118:    11
  
  - NormalModuleFactory.js:689 
    [Javascript-fullstack-simple]/[webpack]/lib/NormalModuleFactory.js:689:    25
  
  - NormalModuleFactory.js:893 
    [Javascript-fullstack-simple]/[webpack]/lib/NormalModuleFactory.js:893:    8
  
  - NormalModuleFactory.js:1013 
    [Javascript-fullstack-simple]/[webpack]/lib/NormalModuleFactory.js:1013    :5
  
  - child-compiler.js:177 
    [Javascript-fullstack-simple]/[html-webpack-plugin]/lib/child-compiler.    js:177:18
  
  - Compiler.js:551 finalCallback
    [Javascript-fullstack-simple]/[webpack]/lib/Compiler.js:551:5
  
  - Compiler.js:577 
    [Javascript-fullstack-simple]/[webpack]/lib/Compiler.js:577:11
  
  - Compiler.js:1200 
    [Javascript-fullstack-simple]/[webpack]/lib/Compiler.js:1200:17
  
  
  - Hook.js:18 Hook.CALL_ASYNC_DELEGATE [as _callAsync]
    [Javascript-fullstack-simple]/[tapable]/lib/Hook.js:18:14
  
  - Compiler.js:1196 
    [Javascript-fullstack-simple]/[webpack]/lib/Compiler.js:1196:33
  
  - Compilation.js:2795 finalCallback
    [Javascript-fullstack-simple]/[webpack]/lib/Compilation.js:2795:11
  
  - Compilation.js:3100 
    [Javascript-fullstack-simple]/[webpack]/lib/Compilation.js:3100:11
  
  
</anonym></anonym></pre>